// Navigation code here

nav{
    .column();
    background-color: @wild-sand;
    padding: 1% 0;

    .navBar{
        display: flex;
        justify-content: space-between;
        width: 37%;
        padding-top: 1%;

        a{
            text-decoration: none;
            color: @river-bend;
        }

    }
}